<a href="https://colab.research.google.com/github/rishipta/Assignment/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L={11,12,13,14}
print("orignal list -->",L)
L.append("50")
print(" new list -->",L)

orignal list --> {11, 12, 13, 14}

AttributeError: 'set' object has no attribute 'append'

In [ ]:
L=[11,12,13,14]
del L[0]
del L[1]
print("new list-->",L)

new list--> [12, 14]

In [ ]:
L={11,12,13,14}
print(sorted(L))
L.sort(reverse = True)
print(L)

[11, 12, 13, 14]

AttributeError: 'set' object has no attribute 'sort'

In [ ]:
 L={11,12,13,14}
  print("lenght of array-->"len(L))
  print("Sum",sum(L))
  if(n%2==0){
      print("sum=",sum(L(n)))
  }
  else{
    print("sum=",L(n))
  }

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D{8} = 8.8
print(D)

SyntaxError: invalid syntax (<ipython-input-16-1216665018>, line 2)

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
del.L{2}
print(L(2))

SyntaxError: invalid syntax (<ipython-input-15-2117161326>, line 2)

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

In [ ]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}


S1.add("55")
S1.add("66")
print("new list",S1)
S1.discard(10)
S1.discard(30)
print("new list ",S1)

new list {50, 20, '66', 40, 10, 60, '55', 30}
new list  {50, 20, '66', 40, 60, '55'}

In [ ]:
S1={10,20,30,40,50,60}
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
i=0
while(i<len(S1)):
  if(list(S1)[i]==40):
    print(i)

In [ ]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
print(S1.union(S2))
print(S1.intersection(S2))
print(S1.difference(S2))

In [ ]:
import random as r
import string as s
passwd=r.sample(s.ascii_letters,range(6,8))
i=0
while(i<100)
 "".join(passwd)
print ("passwd1       --> ",passwd1)